<div class="wiget">
  <div class="row">
    <div class="col-lg-12">
      <div class="wiget last-posts">
        <h3>Последние публикации</h3>
        <ul>
          <li><a href="#">Первая публикация</a></li>
          <li><a href="#">Вторая публикация</a></li>
          <li><a href="#">Третья публикация</a></li>
          <li><a href="#">Четвертая публикация</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wiget">
  <div class="row">
    <div class="col-lg-12">
      <div class="wiget last-comment">
        <h3>Последние комментарии</h3>
        <ul>
          <li><a href="#">Первый комментарий</a></li>
          <li><a href="#">Второй комментарий</a></li>
          <li><a href="#">Третий комментарий</a></li>
          <li><a href="#">Четвертый комментарий</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wiget">
  <div class="row">
    <div class="col-lg-12">
      <div class="wiget">
        <h3>Курсы валют</h3>
      </div>
    </div>
  </div>
</div>

<div class="wiget">
  <div class="row">
    <div class="col-lg-12">
      <div class="wiget">
        <h3>Виджет VK</h3>
      </div>
    </div>
  </div>
</div>

<div class="wiget">
  <div class="row">
    <div class="col-lg-12">
      <div class="wiget">
        <h3>Виджет Facebook</h3>
      </div>
    </div>
  </div>
</div>
